* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body{
      overflow-x: hidden;
  }

  main{
      position: relative;
  }

  main .progress {
      position: fixed;
      width: 100%;
      height: 2px;
      background-color: black;
      z-index: 10000;
  }

  main .progress .progressBar{
      position: fixed;
      width: 0%;
      height: 2px;
      z-index: 10001;
      background: #ffa600;
      transition: width .1s ease;
      -webkit-transition: width .1s ease;
      -o-transition: width .1s ease;
  }

  section{
      position: relative;
      width: 100%;
  }

  .cover {
    background-color: rgba(0,0,0,1);
}

  section.mainPage{
      background: linear-gradient(#4b0220, #691c46);
      /* padding-bottom: 50px; */
  }

  section.mainPage .imageWrap{
    height: 1000px;
    overflow-y: hidden;
  }

  section.mainPage .imageWrap .parallax_image{
      position: fixed;
      width: 100%;
      height: inherit;
      background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  section.mainPage .imageWrap .parallax_image:nth-child(1) {
    background-image: url(../image/main_0.png);
  }
  
  section.mainPage .imageWrap .parallax_image:nth-child(2) {
    background-image: url(../image/main_1.png);
  }
  
  section.mainPage .imageWrap .parallax_image:nth-child(3) {
    background-image: url(../image/main_2.png);
  }
  
  section.mainPage .imageWrap .parallax_image:nth-child(4) {
    background-image: url(../image/main_3.png);
  }
  
  section.mainPage .imageWrap .parallax_image:nth-child(5) {
    background-image: url(../image/main_4.png);
  }

  section.mainPage .imageWrap .parallax_image:nth-child(6) {
    background-image: url(../image/main_5.png);
    background-size: cover;
  }

  section.subPage{
    background: linear-gradient(#000, #691c46);
  }

  
section.subPage .parallax_6 {
    position: relative;
    background: url(../image/main_6.png) bottom center no-repeat;
    background-size: auto 1100px;
    height: 400px;
    width: 100%;
    /* subPage의 그라데이션이랑 연결됨. */
    top: -400px;
  }
  
  section.subPage .innerWrap {
    height: 800px;
  }